/* todo documento */

/* 
CORES:
rosa: #fcdedb;
cinza escuro: #545353;
claro: #d3cece;
ativo vermelbho: #b77979;

FONTES:
alta: font-family: 'Amatic SC', cursive;
baixa: font-family: 'Short Stack', cursive;
*/


/* GERAL */

*{ 
	margin: 0;
	padding: 0;
	outline: none;
}

h1 {
	color: #545353;
	font-family: 'Amatic SC', cursive; 
	font-weight: bold;
	font-size: 66px;
	} 

a { text-decoration: none;}

ul { list-style: none; }


span .fa {
	text-align: center;
}

i {
	background: #fcdedb;
	border-radius: 50%;
	color: white; 
}

i:hover { background: #d3cece;}


header { width: 100%; }


section {
	width: 100%;
	display: flex;
}

main {	
	width: 600px; 
} 

aside {
	width: 211px;
	margin-top: 136px;
}


/* MENU TOPO */

.navegacaoPrimaria { 
	background: #fcdedb;

}

.navegacaoPrimaria ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.navegacaoPrimaria li a{
	font-family: 'Amatic SC', cursive; 
	font-weight: bold;
	color: #545353;
	font-size: 21pt; 
	padding: 0px 10px;
}


.botao.menuHamburger {
	display: none;
	justify-content: center;
}




/* LOGO*/

.banner {
	background: #d3cece;
	display: flex;
	justify-content: center;
	align-items: center;
}


.banner img {
	width: 120px;
	margin: 30px;
}

 /*TITULO - TOCA DOS RATINHOS*/

.titulo { 
	/*display: flex;*/
	/*justify-content: center; */
	text-align: center;
}


/*CORPO DO SITE*/



/* "RECEM-NASCIDOS" E "ORDENAR POR" */

.navegacaoSuperior { 
	width: 600px;
	/*display: flex;*/
	margin-bottom: 30px;
	margin-top: 30px;
	justify-content: flex-start;
 }

.iconeRecem {
	display: flex;
	justify-content: flex-start;
	align-self: center;
}
.iconeRecem a { 
	font-family: 'Amatic SC', cursive;
	font-weight: bold; 
	color: #545353;
	font-size: 22pt;
	margin: 10px;
}


/*.alinharDireita {
	display: flex;
	justify-content: flex-end;
}*/


/*.botaoOrdernar {
	background: white;
	color: #545353;
	font-family: 'Amatic SC', cursive;
	font-size: 16px; 
	border: 1px solid #fcdedb;
}*/

/*ICONES*/

.fa.fa-heart.ativo{
	background: #b77979;
	border-radius: 50%;
	color: white; 
}


/* CARDS */

.container.alinharCentro { 
	width: 100%;
	display: flex; 
	justify-content: center;
}

.colunas {
	display: flex;
	width: 600px;
	flex-wrap: wrap;
}

.card {
	width: 50%;
	padding-bottom: 40px;
}


.card h3 {
	font-family: 'Short Stack', cursive;
	font-size: 12px;
	color: #545353;
	padding-bottom: 5px;
} 

.iconesLinha {
	display: flex;
} 

.iconesLinha ul {
	display: flex;
	justify-content:flex-start;
}

.iconesLinha li {
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.botaoAdote {
	width: 234px;
	border: none;
	background: #fcdedb;
	font-family: 'Amatic SC', cursive;
	font-weight: bold; 
	font-size: 24px;
	padding: 20px auto;
	color: #545353;

}

.botaoAdote:hover {
	background: #d3cece;
}
/*MENU LATERAL */

 .menuDireita li {
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-size: 18px;
	color: #545353;
	text-align: left;
	padding: 4px 0 4px 10px;

 }

.box { 
	margin-bottom: 40px;
	border: 1px solid #fcdedb;
}
.boxNewsletter {
	border: 1px solid #d3cece;


}

.cabecalho {
	background: #fcdedb;
	
}

.cabecalhoNewsletter{
	background: #d3cece;
}

.bannerLateral {
	width: 211px;
}



/*CONTATO*/



.contato {
	margin: 20px;
	padding: 20px;
	border: 2px solid #fcdedb;

}
.contato h1 {
	font-size: 32px;
	padding-right:5px;		
}

.contato-titulo { 
	display: flex;
	align-items: center;
	padding-bottom: 8px;: 
	 }

.form-group { display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	/*align-items: flex-start;*/

}

.form-group label {
	color: #545353;
	font-family: 'Short Stack', cursive;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 5px 5px 0;

}

.form-group input,
.form-group textarea {
	color: #545353;
	font-family: 'Short Stack', cursive;
	font-size: 12px;
	border: solid 1px #d3cece;

}

.form-group input,
.form-group textarea:focus {
	
}

.form-group.errado input{
	border: solid 1px #b77979;
}

#divBotaoEnviar { display: flex;
	justify-content: flex-end;

}

.botao-enviar {
	padding: 0 20px;
	background: #fcdedb;
	border:none;
	font-family: 'Amatic SC', cursive;
	font-size: 20px;
}
#contador { 
	font-family: 'Short Stack', cursive;
	font-size: 14px;
	color: #d3cece;
}

#baloesResposta { 
	margin: 20px;
	padding: 20px;
	width: 450px;
	border: solid 2px #fcdedb;

}

#baloesResposta h3 {
	font-family: 'Amatic SC', cursive;
	font-size: 22px;

}

#baloesResposta p {
	font-family: 'Short Stack', cursive;
	font-size: 12px;
	color: #545353;

}


@media (max-width: 900px) {
	aside {
		display: none;
	}
	.menuMobile {
		display: flex;
	}

	.container.alinharCentro {
		width: 900px;
	}

	}

}
